header { /* customized header to have cursive text, centered text, padding to keep the containers looking connected */
  font-family: cursive;
  color:#ccbcac;
  background-color: #56322e;
  text-align: center;
  padding: 2px;
  margin:auto
}



img { /* made the image a circle instead of a square */
  border-radius: 200px;
}

main { /*stylized main with center text, color of text, background color, and font style */
  text-align: center;
  color:#512c1c;
  font-family: cursive;
  background-color:#b9b1a7;
}


ul { /* fixed the bullets from staying on the left side*/
  display: inline-block;
}
ol {
display: inline-block;/* fixed the bullets from staying on the left side*/
}

footer { /*stylized main with center text, color of text, background color, and font style, font size to fit the footing container and padding */
  font-family: cursive;
  color:#ccbcac;
  background-color: #56322e;
  text-align: center;
  padding: 2px;
  font-size: 10px;
}

hr { /* customized border to be white inset and 3px size  */
  border-width: 3px;
  border-color: #ffffff;
  
}
/* customized the link property colors */
a:link    { color: #09caf1};
a:visited { color: #b15fdd   };
a:hover   { color: #ba3b41 };
a:active  { color: #e4bec5  };
